
@model VideoGameRepository
@{
    SteamGame sg = new SteamGame(UInt32.Parse(ViewData["id"].ToString()));
}

<h1>@sg.Game.Name </h1>

<p>Price @sg.Game.PriceOverview.Final.ToString().Insert(@sg.Game.PriceOverview.Final.ToString().Length-2,".") @sg.Game.PriceOverview.Currency </p>
<p>Developers @foreach (string dev in sg.Game.Developers)
{
        <span>@dev ,</span>
}
</p>

<p>Release Year @sg.Game.ReleaseDate.Date</p>
<p>Category @foreach (var ca in sg.Game.Categories)
    {
            <span>@ca.Description ,</span>
    }
<p>Age Rating @sg.Game.RequiredAge</p>
<img src="@sg.Game.Screenshots[0].PathThumbnail"></img>







